body{ 
margin: 0;
display: flex;
background-color: black;}


header {
width: 18%;
height: 100vh;
background-color: black;
position: sticky;
top: 0;
color: #fff;
list-style-type: none;
}

section{

    width: 82%;

background-image: url(img_9.jpg);
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: multiply;
background-repeat: no-repeat;
background-size: 100%;
}


#filtro{ height: 100vh;
    display:flex;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    text-decoration: none;}



.titulo { 
font-family: "Oswald", sans-serif;
font-weight: 400;
font-style: bold;
font-size: 65px;
}

.letras {
font-family: "Quicksand", sans-serif;
font-weight: 100;
font-style: normal;
font-size: 25px;    
}

.btn { padding: 15px 30px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .1em;
color: #fff;
background-color: #df0e62;
border-color: #df0e62;
border-radius: 20px;
margin-top: 2%;
}

.ELIT { 
font-family: "Quicksand", sans-serif;
font-weight: 600;
font-style: bold;
font-size: 30px; 
}



.home {
margin-top: 9%;
}


li { 
list-style: none;
}


.PHOTOS{
margin-top: 9%;
}

.BIO{
margin-top: 9%;
}


.BLOG { 
margin-top: 9%;    
}


.CONTACT{
margin-top: 9%;
}

.Face {

margin-top: 16%; 

}
.Face svg { fill:white;
    height: 20px;
    margin-right: 7%;
    
}
#fotos {
display: flex;
flex-wrap: wrap;
justify-content: space-between;    
background-color: black;
row-gap: 6px;
}

#fotos div{
width: 33%;
height: 300px;
overflow: hidden;
position: relative;
}

#fotos img{ width: 100%;
height: 300px ;
object-fit: cover;

}

#fotos svg { fill:white;
position: absolute;
top: 50%;
left: 50%;
height: 30px;
transform: translate(-50%,-50%);
opacity: 0;
transition: 1s;
}

#fotos div:hover svg { top: 50%;
opacity: 1;    
}

#fotos div:hover img {filter: brightness(50%);}


#titulo2 {
font-family: "Oswald", sans-serif;
font-weight: 400;
font-style: bold;
font-size: 65px;  
color: white;
text-align: center;

}

#segundaparte {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: black;
color: white;

}

#segundaparte img{
border-radius: 50%;
width: 155px;    
}

#nome {
font-family: "Quicksand", sans-serif;
font-weight: 600;
font-style: bold;
font-size: 16px;    
color: white;
padding: 15px;
}

#lorem2 { 
font-size: 20px;
font-family: "Quicksand", sans-serif;
text-align: justify;
color: gray;}


#terceiraparte{  
background-color: #1a1a1a;
padding-left: 17%;
padding: 11%;
}


#titulobio {
font-family: "Oswald", sans-serif;
font-weight: 400;
font-style: bold;
font-size: 65px;  
color: white;

}


#Jed{ 
Font-family: "Oswald", sans-serif;
font-weight: 400;
font-style: bold;
font-size: 32px;  
color: white;

}


#terceiraparte img{
width: 366px;
height: 366px;
}


#testimonial{ display: flex;
align-items: center;
background-color: black;
width: 60%;
margin: auto;
padding-top: 100px;
padding-bottom: 100px;
color: gray;}

#setaesq{ background-color: #1a1a1a;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;}

#setaesq svg{fill: gray; 
width: 50px;
height: 25px;}

#setaedir {
background-color: #1a1a1a;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;    
}



#setaedir svg {
fill: gray; 
width: 50px;
height: 25px;}


.elementos {
} 


#segundaparte button {    
height: 3px;
border-radius: 50%;    
padding: 7px;
background-color: #df0e62;
border: none;
}


#localidade{
margin-left: 11%;
}


.lorem3 {
font-size: 20px;
font-family: "Quicksand", sans-serif;
text-align: justify;
color: gray;

}
    



.rosa{
color: #df0e62;
}


.barrinha {
color: #df0e62;
}


#photographer{
Font-family: "Oswald", sans-serif;
font-weight: 400;
font-style: bold;
font-size: 32px;  
color: white;
margin-top: 17px;
}

.lorem4{
font-size: 20px;
font-family: "Quicksand", sans-serif;
text-align: justify;
color: gray;
margin-top: 17px;
}


.lorem5{
font-size: 20px;
font-family: "Quicksand", sans-serif;
text-align: justify;
color: gray;
margin-top: 17px;
}

#check svg {
height: 25px;
}


#optio{
font-size: 20px;
font-family: "Quicksand", sans-serif;
text-align: justify;
color: gray;
padding-top: 10px;
}

#checks {
display: flex;
padding-top: 20px;
}





